<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="utf-8">
  <title>ごりらおしごとかんり</title>
  <meta name="description" content="どうぶつおしごとかんり">
  <meta name="keywords" content="どうぶつ、おしごと、かんり、ごりら">
  <!-- External files -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
  <script src="js/myscript.js"></script>
  <script src="js/sounds.js"></script>
</head>
<body>
  <div id="wrapper">
  <header>
  <h1>ごりらおしごとかんり</h1>
  </header>
  <div id="container">
  <!--audio-->
  <audio id="sound-file" preload="auto">
	<source src="audio/gorilla.mp3" type="audio/mp3">
	<source src="audio/golilla2.wav" type="audio/wav">
</audio>
  <div ng-controller="todoCtrl">
  <button onclick="sound()" ng-click="deleteTask()">ウホ</button>
  <ul>
    <li ng-repeat="task in tasks">
    <input type="checkbox" ng-model="task.done">
    <span class="done-{{task.done}}">{{task.body}}</span>
    </li>
  </ul>
  <form ng-submit="addTask()">
    <input type="text" ng-model="taskText">
    <input onclick="sound()" type="submit" value="ウホウホ">
  </form>
  </div><!--todoCtrl-->
  </div><!--wrapper-->
<div id="footer">
</div><!--footer-->
</body>
</html>
